html, body{
  height: 100%;
}

body{
  background-image: url('.\Assets\BL-Background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover; 
}

#root{
  width: 100%;
}

.slide-pos{
  width: 57%;
  margin: 0 auto;
}

.App {
  text-align: center;
}



/* Nav css */

.sidebar{
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 10%;
    height: 80vh;
    margin-left: 15px;
    padding: 10px;
    position: fixed;
    bottom: 3%;
}

#nav-btn{
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 5px;
  color: white;
  background: #312F30;
  box-shadow: -2px 2px 2px 1px #716e6e;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {

  .sidebar{
    justify-content: unset;
    margin: 4% auto;
    width: 80%;
    position: relative;
    height: fit-content;
  }

  #nav-btn{
    margin-bottom: 5%;
  }

  .slide-pos{
    width: 90%;
  }

}


/* --------------------------------------------------------------- */

#nav-btn:hover{
  background: rgb(29, 27, 28)
}

/* --------------------------------------------------------------- */

/* --------footer--------------- */

.ftr-ctr{
  position: absolute;
    top: 96.9%;
    width: 100%;
    background: black;
}

.ftr-ctr p{
  margin: 4px;
  color: grey;
}

@media only screen and (max-width: 1000px) {
  .ftr-ctr{
    display: none;
  }
}





