body{
  background-image: url('.\Assets\BL-Background.jpg')
}

.App {
  text-align: center;
}


/* Header css */

.hdr-img-ctr{
  height: 15.4vh;
  background: black;

}

.blk-banner{
  height: 80%;
  margin-top: 10px;
}

.sidebar{
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 10%;
    height: 80vh;
    margin-left: 15px;
    padding: 10px;
    position: fixed;
}

.serv-ctr{
  margin: 0 auto;
  width: 60%;
  border-radius: 5px;
  background: #ffffff75;
  margin-top: 2%;
  box-shadow: -1px 1px 6px 1px #4e4c4c;
  padding: 10px;
  height: 75vh;
  overflow: auto;
}

#nav-btn{
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: white;
  background: #312F30;
  box-shadow: -2px 2px 2px 1px #716e6e;
}

.map-comp{
  height: 40vh;
  width: 40vw;
  margin: 0 auto;

}

.overlays{
  border: 5px solid white;
  border-radius: 4px;

}

.gmaps-loc{
  margin-top: 8%;

}

ul{
  list-style: none;
}





